@import 'style.css';

.divisoria {
    position: absolute;
    width: 3px;
    height: 77%;
    left: 50%;
    top: 13.7%;
    background: #108CC8;
    border-radius: 10px;
}

form {
    position: absolute;
    width: 30.5%;
    height: 10%;
    top: 17%;
    left: 8%;
}

form h1 {
    font-family: 'Inter-Bold';
    font-size: 32px;
    color: #108CC8;
    margin-bottom: 2%;
    text-align: center;
}

textarea {
    height: 140px;
}

input {
    height: 35px;
}

input,
textarea {
    border: black solid;
    margin-bottom: 4%;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Inter';
    font-size: 20px;
    text-align: left;
    background: #F5F5F5;
    border: none !important;
}

label[for="formInputNome"]::before {
    background-image: url('../imagens/icons/user.svg');
}

label[for="formInputEmail"]::before {
    background-image: url('../imagens/icons/email.svg');
}

label[for="formInputTelefone"]::before {
    background-image: url('../imagens/icons/old-phone.svg');
}

label[for="formInputMensagem"]::before {
    background-image: url('../imagens/icons/outline-message.svg');
}

label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

label {
    color: #666666;
    font-family: 'Inter-Bold';
    font-size: 20px;
}

.btn.btn-primary {
    background-color: #108CC8;
    position: absolute;
    font-family: 'Inter-Bold';
    font-size: 20px;
    height: 45px;
    width: 33%;
    border-radius: 40px;
    left: 33%;
    margin-top: 2%;
}

.informacoesContato {
    position: absolute;
    width: 30.5%;
    top: 17%;
    left: 61%;
}

#titulo-contato {
    font-size: 32px;
    font-family: 'Inter-Bold';
    text-align: center;
    margin-bottom: 4%;
    margin-top: 0%;
    margin-right: 10%;
}

.informacoesContato h1 {
    font-family: 'Inter';
    font-size: 16px;
    color: #108CC8;
}

.informacoesContato span {
    display: flex;
    font-size: 16px;
    font-family: 'Inter';
    color: #108CC8;
}

.informacoesContato span p {
    margin-left: 2px;
}

.informacoesContato span i {
    margin-left: -35px;
    color: #108CC8;
    margin-right: 18px;
    font-size: 20px;
}

.subtitulo-contatos,
span {
    margin-left: 18%;
}

input[type="text"]::after,
input[type="email"]::after,
input[type="phone"]::after,
textarea:focus {
    background-color: aqua;
}

iframe {
    position: relative;
    height: 250px;
    bottom: 14%;
    right: 0%;
}

.botao-flutuante {
    position: absolute;
    width: 6%;
    bottom: 52%;
    right: 3%;
    z-index: 999;
    max-width: 100%;
}

.modal-content {
    margin: 20px auto;
}

.modal-header {
    background-color: #84bffa;
    border-bottom: none;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: white;
}

.modal-body {
    padding: 20px;
    background-color: #84bffa;
    color: white;
}

.modal-footer {
    background-color: #84bffa;
    border-top: none;
    padding: 10px 20px;
}

.btn-secondary {
    background-color: #108CC8;
    border: none;
    color: #fff;
}

@media (max-width: 480px) {
    .divisoria {
        height: 100%;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    form {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
        left: 0%;
    }

    form h1 {
        font-size: 24px;
        margin-bottom: 2%;
    }

    textarea {
        height: 120px;
    }

    input {
        height: 30px;
    }

    .informacoesContato {
        position: relative;
        width: 80%;
        margin: 0 auto;
        margin-top: 25%;
        left: 0%;
    }

    #titulo-contato {
        font-size: 24px;
        margin-bottom: 4%;
        margin-left: 13%;
    }

    .informacoesContato span {
        flex-direction: column;
        align-items: center;
    }

    .informacoesContato span i {
        margin: 0 auto;
    }

    .subtitulo-contatos,
    span {
        margin-left: 0%;
        text-align: center;
    }

    iframe {
        bottom: 0%;
    }

    .botao-flutuante {
        display: none;
    }

    .divisoria {
        display: none;
    }

    .btn.btn-primary {
        background-color: #108CC8;
        position: absolute;
        font-family: 'Inter-Bold';
        font-size: 20px;
        height: 45px;
        width: 33.33%;
        border-radius: 40px;
        left: 33%;
        margin-top: 2%;
    }

    .modal-content {
        position: absolute;
        width: 58%;
        left: 29%;
        max-width: 60%;
        transform: translateX(-50%);
    }
}